<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {{!-- <link rel="stylesheet" href="ctyle.css"> --}}
    {{>heder}}
  </head>
  <body class="bb">
    {{>navbar}}
    <div class="main">
      <div class="s1" >
        <h1>work</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, illo voluptates. Aliquam, opti
        o aut? Laudantium rerum ab totam eveniet 
        voluptatem ullam neque enim similique blanditiis maxime, saepe, iure unde doloribus?</p></div>
      <div class="s2">
        <h1>comleted</h1><p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo non quasi quos cum, vitae, expedita po
        rro atque odit est accusantium alias dolorem perferendis dolorum temporibus corrupti. Repell
        endus doloremque illo optio. </p></div>
      <div class="s3">
        <h1>larn</h1><p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea dicta minima nisi unde est ac
        cusamus. Numquam harum saepe dolor deleniti reprehenderit. Ipsa numquam, ipsam repellendus laboriosam iusto ut tempora molestiae.</p></div>
   
    </div>
    <h1 style="text-align: center;  margin-top: 30px;" >login is ok </h1>

    
  </body>
</html>