<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    {{!-- <link rel="stylesheet" type="text/css" href="css/style.css"> --}}
    {{>heder}}
</head>
<body>
    {{>navbar}}
    {{!-- <h2 class="xyz">Login Page</h2><br> --}}
    <div class="login">
    <form id="login" method="post" action="/Login">
        <label><b>Email id
        </b>
        </label>
        <input type="email"  id="Uname" placeholder="Email" name="EMAILADDRESS">
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input type="Password" id="Pass" placeholder="Password" name="Password">
        <br><br>
        <input type="submit" name="log" id="log" value="Log In Here">
        <br><br>
        {{!-- <input type="checkbox" id="check"> --}}
        {{!-- <span>Remember me</span> --}}
        {{!-- <br><br> --}}
        {{!-- Forgot <a class="abc" href="#">Password</a> --}}
    </form>
</div>
</body>
</html>